NODE_ENV=development
PORT=4000

MONGODB_URI=
FRONTEND_URL=http://localhost:3000

JWT_SECRET=
JWT_EXPIRES_IN=12h

COOKIE_NAME=asas_admin_session
COOKIE_DOMAIN=
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax

R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=asas-alaamaq-media
R2_PUBLIC_BASE_URL=

SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
